nav {
	font-family: 'Khand', sans-serif;
	background: #000;
	margin: 0;
	font: 4vmin; Arial;
	padding: 1px;
	display: none;
	z-index: 2;
}
	nav h1 {
		margin: 40px 0 10px 40px;
		font-size: 5vmin;
		font-family: 'Lobster', cursive;
	}
	nav h1 a {
		color: #fff;
		text-decoration: none;
	}
	nav ul {
		margin: 0 0 40px 0;
		font-size: 3.5vmin;
		list-style: none;
	}
	nav ul:first-of-type {
		margin: 0 0 2em 0;
	}
		nav ul li {
		    padding: 3px 0px;
		}
		nav ul:nth-of-type(1) li:nth-of-type(1) a, nav ul:nth-of-type(1) li:nth-of-type(4) a {
		    color: #fff;
		}
		    nav ul li a{
		    	color: #777;
		    	text-decoration: none;
		    }
#nav_icon{
	position: fixed;
	top: 1px;
	right: 1px;
	margin: 0.8em;
	width: 2.5em;
	height: 2.5em;
	z-index: 3;
}
#back {
	position: fixed;
	top: 1px;
	left: 0px;
	margin: 0.2em;
	width: 4.5em;
	height: 4.5em;
	z-index: 1;
}
#page_name {
				margin: 0px auto;
				text-align: center;
				font-size: 1.2em;
				font-family: 'Lobster', cursive;
			}